/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
*= require bootstrap
*= require_self
*/

div.row {margin: 20px 0;}

.header.well 
{
	margin-top: 20px;
	padding: 10px 20px;
	background-color: lightblue;
}

.header h4
{
	text-shadow: 1px 1px 6px darkgrey;
}

input.btn:hover
{
	text-shadow: 1px 1px 4px tomato;
}

div.form-inline input
{
	margin-bottom: 5px;
}